Blog Post.json
{
  "name": "Blog Post",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "BlogTopic"
            },
            {
              "name": "TargetAudience"
            },
            {
              "name": "ChatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        -80
      ],
      "id": "3a2c21bc-de8d-406a-9f31-dd57dc45b9d9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=topic of the Blog: {{ $json.BlogTopic }}\n\ntarget audience: {{ $json.TargetAudience }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent specialized in creating professional, educational, and engaging blog articles based on any topic provided by the user.\n\n## Objectives:\n\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The blog article should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured blog post that:\n\n* Starts with an engaging and informative introduction that sets up the importance of the topic\n* Maintains a professional, clear, and easy-to-read tone\n* Is educational, insightful, and provides depth\n* Uses headers, subheaders, and paragraphs to create good readability\n* Incorporates real data, examples, or case studies, properly attributing sources (e.g., “according to [source]”)\n* Light on emojis (use only if highly relevant and minimal)\n* Includes a natural conclusion that summarizes key takeaways\n* (Optional but encouraged) Suggests next steps for the reader, such as related articles, resources, or actionable advice\n\n## Output Instructions:\n\n* Your ONLY output should be the final blog article text.\n* Do not include explanations, notes, or anything beyond the blog content itself.\n\n## Example Workflow:\n\n1. Receive a topic (e.g., “The ROI of warehouse automation”)\n2. Use Tavily to search and gather recent information, studies, or examples\n3. Draft a blog post using the research\n4. Format it with an engaging intro, structured sections, source citations, and a natural conclusion\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -80
      ],
      "id": "384762d7-3e9c-49df-8139-c9944c1403ec",
      "name": "Blog Post Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "id": "137ed1c4-6eb6-481d-b8d0-49f7aec78b02",
      "name": "GPT 4.1"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -368,
        144
      ],
      "id": "91b30891-8a5a-4ded-9cac-8544873260c0",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "OuQehmp5YCO2aBNn",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -96,
        128
      ],
      "id": "e4b6cda5-d052-4db8-a9cb-61f604eea579",
      "name": "Image & Title"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "from prev node"
            },
            {
              "name": "size",
              "value": "1024 x 1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -80
      ],
      "id": "29ccc599-57e7-4de4-a7e1-35cf8a92326b",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        304,
        -80
      ],
      "id": "c9f6f346-7419-40c7-af23-c046824e4f1b",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -192
      ],
      "id": "6cc49e8c-b4f6-4170-85af-cb5da950147f",
      "name": "Send photo",
      "webhookId": "26a37e2c-6a2f-4f91-a0c5-5adf0b7125d0"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        -192
      ],
      "id": "13155bdd-a0ba-422c-b279-64f349a1f873",
      "name": "Send Blog",
      "webhookId": "094603f6-84d8-40d4-b4cb-ee4fd62c6baa"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        32
      ],
      "id": "37dfe1ca-d54a-4f62-8fd6-a1696756001e",
      "name": "Upload file"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        32
      ],
      "id": "200bd002-1683-4246-bd0e-c17095380d38",
      "name": "Image Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QbRuq9muzBkj9h08",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Blog Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Send photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send photo": {
      "main": [
        [
          {
            "node": "Send Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Image Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e28d945e-e571-42c5-9c31-a29aac9f02d7",
  "meta": {
    "instanceId": "4eb4954d8c85a8a274e66ddf7db12e14891426a6716025edf035ce117c6739e7"
  },
  "id": "mXd4duKeG8ox7hZ8",
  "tags": []
}