Edit Image.json
{
  "name": "Edit Image",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Image"
            },
            {
              "name": "request"
            },
            {
              "name": "ChatID"
            },
            {
              "name": "PictureID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -64
      ],
      "id": "a07a8228-607d-453b-bc44-144568c7ade6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.PictureID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -208,
        -64
      ],
      "id": "66fbab6e-8f45-4b2e-ae7f-d47b295e1adf",
      "name": "Download file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "Image",
              "inputDataFieldName": "data"
            },
            {
              "name": "Prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.request }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "Size"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -64
      ],
      "id": "9cf260b3-8ed3-460c-bf8f-cecbeaab8814",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -64
      ],
      "id": "a7b05ea9-c19d-4f04-a204-cec6e3b28ef8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        -176
      ],
      "id": "1af2b2a5-66d3-407e-b748-8dddd1b9d87c",
      "name": "Send photo",
      "webhookId": "1cd8fce7-d5cb-49f1-9ef4-c4cdbee975d0"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        80
      ],
      "id": "99db81be-79b3-4c4a-9e13-0287fb572b26",
      "name": "Upload file"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        80
      ],
      "id": "a9034ed3-7ded-4b69-afdd-2ae6c10bf9dc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QbRuq9muzBkj9h08",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cc895a24-8953-4501-b8a1-d16888b55f47",
  "meta": {
    "instanceId": "4eb4954d8c85a8a274e66ddf7db12e14891426a6716025edf035ce117c6739e7"
  },
  "id": "AbDgfyUJt49XGx81",
  "tags": []
}